AddDefaultCharset UTF-8
Options -Indexes

RewriteEngine On

# RewriteCond %{HTTP:HTTPS} !=on [NC]
# RewriteRule ^(.*)$ https://yoursite.ru/$1 [R=301,L]
# SetEnvIf X-Forwarded-Proto https HTTPS=on

RewriteCond %{HTTP_HOST} .
RewriteCond %{HTTP_HOST} www.yoursite.ru [NC]
RewriteRule (.*) http://yoursite.ru/$1 [R=301,L]

RewriteCond %{HTTP_USER_AGENT} wget [NC]
RewriteRule .* - [F]

